.footer
    text-align: center
    background: #004da0
    display: table-row
    height: 60px
    .footer-wrap
        padding: 20px 0
        h2 
            margin-bottom: 15px
            font-size: 14px
            color: #FFFFFF
        h3 
            font-size: 14px
            color: #FFD366
        
html,
body
    height: 100%